* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    width: 98%;
    height: 200px;
    background-color: #000000;
    margin: 1%;
}

.container {
    width: 100%;
    margin: 0 auto;
    overflow: auto;
}

.boxLeft {
    width: 23%;
    background-color: #F9D144;
    height: 300px;
    float: left;
    margin: 1%;
}

.boxRight {
    width: 23%;
    background-color: #6C58FE;
    height: 300px;
    float: left;
    margin: 1%;
}

.boxMiddle {
    width: 48%;
    background-color: #000000;
    height: 300px;
    float: left;
    margin: 1%;
}


}
